<div class="row w-auto mb-3 mx-auto">
    <div class="col-12 p-1 text-center border border-warning text-dark rounded">
    <h5 class="text-warning">Broker Account: <%= current_broker.email %></h5>
    </div>
</div>