<% if @stock %>

  <%# <img class="card-img-top p-3" src="" alt="Company Image"> %>
  <div class="card-body animate__animated animate__fadeIn">
    <h5 class="card-title"><strong>Ticker:</strong> <%= @stock.ticker %></h5>
    <p class="card-text"><strong>Name:</strong> <%= @stock.name %></p>
    <p class="card-text"><strong>Last Price:</strong> <%=@stock.last_price %></p>
  </div>

  <div class="card-body">
    <% if current_broker.can_add_stock?(@stock.ticker, current_broker.id) %>
        <%= button_to 'Add stock', broker_stocks_path(broker: current_broker, ticker: @stock.ticker), method: :post, class: "btn btn-primary" %>
    <% else %>
        <p>Stock already added.</p>
    <% end %>
  </div>

<% end %>
