<% if buyer_signed_in? %>
    <h1 class="text-success">Hello Buyer!</h1>
<% elsif broker_signed_in? %>
    <%= render "home/intro_broker" %>
<% elsif admin_signed_in? %>
    <h1 >Hello Admin!</h1>
<% else %>
    <%= render "home/intro_page" %>
<% end %>
