@import '~bootstrap/scss/bootstrap';
@import "toastr/toastr";

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: #bc6ff1;
  background: #00072b;
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.cover-container {
  margin-top: 100px;
  max-width: 65em;
}

tr td{
  padding: 5px !important;
  margin: 5px !important;
}

.toast-top-center {
top: 80px;
margin: 0 auto;
}

.font-1rem {
  font-size: 1rem;
}

a:hover {
  color: rgba(155, 89, 182, 0.9) !important;
}