@import '~bootstrap/scss/bootstrap';
@import "toastr/toastr";
// @import "~rfs/scss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Roboto&display=swap');


html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

.cover-container {
  margin-top: 100px;
  max-width: 70em;
}

tr td{
  padding: 5px !important;
  margin: 5px !important;
}

.toast-top-right {
top: 80px;
border-radius: 25px;
margin: 0 auto;
}

.font-1rem {
  font-size: 1rem;
}

#menu_hover:hover {
  color: rgba(155, 89, 182, 0.9) !important;
}

.admin_color {
  color: #bc6ff1;
}

.admin_color:hover {
  color: white;
}

i {
 cursor: pointer;
}

.w-35 {
  width: 35%;
}

.font-14 {
  font-size: 14px;
}

input {
  -webkit-text-security: square;
}